@* display model bound form using partial that sends data to the CreateBook endpoint on submit *@

@model authorizationcw.Models.GameModel

<h1>Add A New Book</h1>
@using(@Html.BeginForm("CreateGame", "Game"))
{
    <partial name = "_form"/>
    <button class="btn btn-success" type="submit">Submit</button>
}