@model authorizationcw.Models.GameModel

<div>
    <div class="card border-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header">
            <h3>Title : @Model.Title</h3> 
        </div>
        <div class="card-body text-secondary">
            <h5 class="card-title">Description : @Model.Description</h5>
            <h5 class="card-title">Publisher : @Model.Publisher</h5>
            <h5 class="card-title">Rating : @string.Concat(Enumerable.Repeat('*', Model.Rating))</h5>            
        </div>
</div>

