@model authorizationcw.Models.GameModel

<h1>Add a New Game</h1>
@using(@Html.BeginForm("CreateGame", "Game"))
{
    <partial name = "_form"/>
    <button class="btn btn-success" type="submit">Submit</button>
}