@model authorizationcw.Models.GameModel

<h1>Details for @Model.Title</h1>

<partial name = "_game" model = "@Model"/>
<a asp-action = "UpdateForm" asp-controller = "Game" asp-route-GameModelID = "@Model.id">
    <button class="btn btn-warning">Edit Game</button>
</a>
<a asp-action = "DeleteConf" asp-controller = "Game" asp-route-GameModelID = "@Model.id">
    <button class="btn btn-danger">Delete Game</button>
</a>