@model authorizationcw.Data.ApplicationDbContext

<h1>Video Game Database</h1>
@foreach (GameModel item in @Model.Games)
{
    <partial name = "_game" model = "@item"/>
    <a asp-action = "GameDetails" asp-controller = "Game" asp-route-GameModelID = "@item.id">
        <button class="btn btn-secondary">Details</button>
    </a>
}
