@model authorizationcw.Models.GameModel

<h1>Updating Video Game: @Model.Title </h1>
@using(@Html.BeginForm("UpdateGame", "Game"))
{
    <partial name = "_form"/>
    <div>
        @Html.HiddenFor(game => game.id)
    </div>
    <button class="btn btn-success" type="submit">Save Changes</button>
}